* {
  margin: 0;
  font-family: 'Muli', sans-serif; }

a {
  text-decoration: none; }

li {
  list-style: none; }

body {
  background-color: #b0c7f4; }

header {
  background-image: url(img/header.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 1000px; }
  header img {
    width: 200px;
    padding-left: 0px; }
  header nav {
    display: flex;
    justify-content: space-evenly; }
    header nav ul {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 90%; }
      header nav ul li {
        font-size: 1.2em; }
        header nav ul li a {
          color: #FAFAFA; }
  header .flag-fr {
    margin-top: 20px; }
  header .flag-en {
    margin-top: 60px; }
  header .flag-ne {
    margin-top: 10px; }
  header .flag {
    display: flex;
    justify-content: space-evenly;
    width: 30%; }
    header .flag img {
      width: 30px;
      height: 30px;
      border-radius: 100em;
      border: solid 2px #FAFAFA; }

.bulle-big {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }

.bulle-truite {
  width: 200px;
  height: 200px;
  border-radius: 100em;
  border: solid #FAFAFA 2px;
  background-image: url(img/truite_1m.jpg);
  background-position: center;
  background-size: 260px;
  background-repeat: no-repeat;
  box-shadow: 0em 0em 2em #FAFAFA;
  margin-top: 220px;
  margin-left: 50px;
  cursor: pointer; }

.bulle-record {
  width: 300px;
  height: 300px;
  border-radius: 100em;
  border: solid #FAFAFA 2px;
  background-image: url(img/1m39.jpg);
  background-position: center;
  background-size: 335px;
  background-repeat: no-repeat;
  box-shadow: 0em 0em 2em #FAFAFA;
  cursor: pointer; }

.bulle-big2 {
  border-radius: 100em;
  border: solid 2px #FAFAFA;
  width: 180px;
  height: 180px;
  box-shadow: 0em 0em 2em #FAFAFA;
  background-image: url(img/bat-1.jpg);
  background-position: bottom;
  background-size: 200px;
  background-repeat: no-repeat; }

.bulle-small5 {
  border-radius: 100em;
  border: solid 2px #FAFAFA;
  width: 20px;
  height: 20px;
  box-shadow: 0em 0em 2em #FAFAFA; }

.bulle-middle {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }

.bulle-small {
  display: flex;
  justify-content: space-around;
  margin: 0 300px 0 400px; }

.bulle-small1 {
  border-radius: 100em;
  border: solid 2px #FAFAFA;
  width: 15px;
  height: 15px;
  margin-top: 200px;
  box-shadow: 0em 0em 2em #FAFAFA; }

.bulle-small2 img {
  border-radius: 100em;
  border: solid 2px #FAFAFA;
  width: 40px;
  height: 40px;
  margin-top: 100px;
  box-shadow: 0em 0em 2em #FAFAFA; }

.bulle-small3 img {
  border-radius: 100em;
  border: solid 2px #FAFAFA;
  width: 50px;
  height: 50px;
  margin-top: 150px;
  box-shadow: 0em 0em 2em #FAFAFA; }

.bulle-small4 img {
  border-radius: 100em;
  border: solid 2px #FAFAFA;
  width: 60px;
  height: 60px;
  box-shadow: 0em 0em 2em #FAFAFA; }

.bulle-middle1 {
  border-radius: 100em;
  border: solid 2px #FAFAFA;
  width: 90px;
  height: 90px;
  box-shadow: 0em 0em 2em #FAFAFA; }

.bulle-middle2 {
  border-radius: 100em;
  border: solid 2px #FAFAFA;
  width: 110px;
  height: 110px;
  margin-top: 150px;
  box-shadow: 0em 0em 2em #FAFAFA; }

.bulle-big1 img {
  border-radius: 100em;
  border: solid 2px #FAFAFA;
  width: 150px;
  height: 150px;
  margin-bottom: 100px;
  box-shadow: 0em 0em 2em #FAFAFA; }

main {
  display: flex;
  justify-content: space-evenly;
  width: 100%; }

.pike-attack {
  width: 600px;
  height: 600px; }

.pecheur {
  width: 300px;
  height: 300px; }

footer {
  background-image: url(img/footer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px; }
  footer section {
    display: flex;
    justify-content: space-evenly;
    padding-top: 120px;
    color: white; }
    footer section a {
      color: white;
      font-size: 1em;
      padding: 10px; }
    footer section p {
      padding: 10px; }
    footer section h3 {
      color: white;
      font-size: 1.3em; }
    footer section .peche {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-right: white solid 1px;
      padding-right: 80px; }
    footer section .hebergement {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 20px;
      border-right: white solid 1px;
      padding-right: 80px; }
    footer section .contact {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 40px;
      border-right: white solid 1px;
      padding-right: 80px; }
    footer section .reseaux-sociaux {
      display: flex;
      flex-direction: column;
      align-items: center; }
      footer section .reseaux-sociaux .logo-watermill {
        width: 120px;
        height: auto; }
      footer section .reseaux-sociaux .flex-logo {
        display: flex;
        flex-direction: row; }
        footer section .reseaux-sociaux .flex-logo .fb img {
          width: 30px;
          height: 30px;
          border-radius: 100em;
          border: solid 2px #FAFAFA; }
        footer section .reseaux-sociaux .flex-logo .insta img {
          width: 30px;
          height: 30px;
          border-radius: 100em;
          border: solid 2px #FAFAFA; }
        footer section .reseaux-sociaux .flex-logo .youtube img {
          width: 30px;
          height: 30px;
          border-radius: 100em;
          border: solid 2px #FAFAFA; }

/*# sourceMappingURL=style.css.map */
