$color-bg:#b0c7f4;
$color-bulle:#FAFAFA;

@mixin font {
    font-family: 'Muli', sans-serif;
}


*{margin: 0;
  @include font();}
a{text-decoration: none;}
li{list-style: none;}
body{background-color: $color-bg;}

header{

background-image: url(img/header.jpg);
background-size: contain;
background-repeat: no-repeat;
height: 1000px;


    img{
        width: 200px;
        padding-left: 0px;
    }

    nav{
        display: flex;
        justify-content: space-evenly;
            ul{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 90%;
            li{
                font-size: 1.2em;
                a{
                    color: $color-bulle;
                }
            }
        }
    }

    .flag-fr{
        margin-top: 20px;
    }
    .flag-en{
        margin-top: 60px;
    }
    .flag-ne{
        margin-top: 10px;
    }
    .flag{
        display: flex;
        justify-content: space-evenly;
        width: 30%;
        img{
            width: 30px;
            height: 30px;
            border-radius: 100em;
            border: solid 2px $color-bulle;
            }
    }
    

    
}
.bulle-big{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
.bulle-truite{
    width: 200px;
    height: 200px;
    border-radius: 100em;
    border: solid $color-bulle 2px;

    background-image: url(img/truite_1m.jpg);
    background-position: center;
    background-size: 260px;
    background-repeat: no-repeat;

    box-shadow: 0em 0em 2em $color-bulle;

    margin-top: 220px;
    margin-left: 50px;

    cursor: pointer;
}
.bulle-record{
    width: 300px;
    height: 300px;
    border-radius: 100em;
    border: solid $color-bulle 2px;

    background-image: url(img/1m39.jpg);
    background-position: center ;
    background-size: 335px;
    background-repeat: no-repeat;

    box-shadow: 0em 0em 2em $color-bulle;
    
    

    cursor: pointer;
}
.bulle-big2{
    border-radius: 100em;
    border: solid 2px $color-bulle;
    width: 180px;
    height: 180px;
    box-shadow: 0em 0em 2em $color-bulle;
    
    background-image: url(img/bat-1.jpg);
    background-position: bottom ;
    background-size: 200px;
    background-repeat: no-repeat;
}
.bulle-small5{
    border-radius: 100em;
    border: solid 2px $color-bulle;
    width: 20px;
    height: 20px;
    box-shadow: 0em 0em 2em $color-bulle;
    
    }

.bulle-middle{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.bulle-small{
    display: flex;
    justify-content: space-around;
    margin : 0 300px 0 400px
}
        
    .bulle-small1{
         border-radius: 100em;
        border: solid 2px $color-bulle;
        width: 15px;
        height: 15px;
        margin-top: 200px;
        box-shadow: 0em 0em 2em $color-bulle;
        
        
        
    }
    .bulle-small2{
        img{
        border-radius: 100em;
        border: solid 2px $color-bulle;
        width: 40px;
        height: 40px;
        margin-top: 100px;
        box-shadow: 0em 0em 2em $color-bulle;}
        
   }
   .bulle-small3{
       img{
    border-radius: 100em;
    border: solid 2px $color-bulle;
    width: 50px;
    height: 50px;
    margin-top: 150px;
    box-shadow: 0em 0em 2em $color-bulle;}
    
    }
    .bulle-small4{
        img{
        border-radius: 100em;
        border: solid 2px $color-bulle;
        width: 60px;
        height: 60px;
        box-shadow: 0em 0em 2em $color-bulle;}
       
        }
        .bulle-middle1{
            border-radius: 100em;
            border: solid 2px $color-bulle;
            width: 90px;
            height: 90px;
            box-shadow: 0em 0em 2em $color-bulle;
           
            }
            .bulle-middle2{
                border-radius: 100em;
                border: solid 2px $color-bulle;
                width: 110px;
                height: 110px;
                margin-top: 150px;
                box-shadow: 0em 0em 2em $color-bulle;
                
                
                
                }
                .bulle-big1{
                    img{
                    border-radius: 100em;
                    border: solid 2px $color-bulle;
                    width: 150px;
                    height: 150px;
                    margin-bottom: 100px;
                    box-shadow: 0em 0em 2em $color-bulle;}
                    
                    
                    }
    
main{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
   
         
         .pike-attack{
        width: 600px;
        height: 600px;
        
        
        }
        .pecheur{
            width: 300px;
            height: 300px;
            
        }
    
    

    


    

    




footer{
    background-image: url(img/footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    
    section{
    display: flex;
    justify-content: space-evenly;
    
    padding-top: 120px;
    color: white;
    
    a{
        color: white;
        font-size: 1em;
        padding: 10px;
    }
    p{
        padding: 10px;
    }
    h3{
        color: white;
        font-size: 1.3em;
    }
    

    .peche{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-right: white solid 1px;
        padding-right: 80px;
        
        
    }
    .hebergement{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
        border-right: white solid 1px;
        padding-right: 80px;
    }
    .contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 40px;
        border-right: white solid 1px;
        padding-right: 80px;
    }
    
    .reseaux-sociaux{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        .logo-watermill{
            width: 120px;
            height: auto;
        }
        .flex-logo{
            display: flex;
            flex-direction: row;
            .fb{
                img{
                width: 30px;
                height: 30px;
                border-radius: 100em;
                border: solid 2px $color-bulle;}
            }
            .insta{
                img{
                    width: 30px;
                    height: 30px;
                    border-radius: 100em;
                    border: solid 2px $color-bulle;
                }
            }
            .youtube{
                img{
                    width: 30px;
                    height: 30px;
                    border-radius: 100em;
                    border: solid 2px $color-bulle;
                }
            }
        }
    }
}
}
